:root {
    --primary: #fdbe00;
    --secondary: #004377;
    --tertiary: #007dff;
    --high-contrast: #101010;
    --bg: #010d27;
    --medium-bg: #131d31;
    --white: #ffffff;
    --body-font: "Poppins", serif;
}
a, button {
    display: inline-block;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 16px;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.5;
    color: var(--high-contrast);
}
h1 {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}
h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    font-weight: 700;
}
h4 {
    font-size: 29px;
    line-height: 1.17;
    font-weight: 400;
}
h5 {
    font-size: 20px;
    font-weight: 700;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, P:last-child {
    margin-bottom: 0;
}
.container {
    max-width: 1224px;
    padding: 0 12px;
}
.primary-gradient {
    background-color: var(--primary);
    padding: 10px 14px;
    border: none;
    border-radius: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(90deg, rgba(253,190,0,1) 0%, rgba(0,125,255,1) 100%);
}
.primary-gradient:hover {
    transform: scale(1.05);
}
.tertiary-solid {
    padding: 8px 20px;
    background-color: var(--tertiary);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
}
.tertiary-solid:hover {
    background-color: var(--secondary);
}
.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}
.tertiary {
    color: var(--tertiary);
}
.tertiary-divider {
    display: block;
    border: 1px solid var(--tertiary);
    margin: 8px 0;
    max-width: 172px;
}

/* Header Style */
header {
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 99;
}
header.header.header-unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}
header.header.header-pinned {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
header.header.header-unpinned.header-not-top {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
body.active-menu header.header {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
main {
    margin-top: 166px;
}
header.header.header-unpinned .header-topbar {
    width: 0;
    height: 0;
    padding: 0;
}
.header-topbar {
    padding: 20px 0;
    background-color: var(--bg);
    transition: all 0.4s;
}
.tobbar-content {
    text-align: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.tobbar-content a {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    color: var(--white);
}
.tobbar-content a:hover {
    color: var(--tertiary);
}
.main-header {
    background-color: var(--white);
    padding: 16px 0;
}
a.site-logo {
    max-width: 137px;
}
a.site-logo .white {
    display: none;
}
nav.navmenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
}
nav.navmenu ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
nav.navmenu ul li a {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--high-contrast);
}
nav.navmenu ul li a:hover {
    color: var(--primary);
}

/* Hero Section Style */
.hero-slider-section {
    padding: 24px 0;
    background-color: var(--medium-bg);
    color: var(--white);
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
}
.hero-slider-content {
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-slider-left {
    flex-basis: calc(43.75% - 12px);
}
.hero-slider {
    flex-basis: calc(56.25% - 12px);
}
.single-hero-slide img {
    width: 100%;
}
.hero-slider-indicator.carousel-indicators {
    position: inherit;
    padding: 24px 0 8px 12%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0;
}
.hero-slider-indicator.carousel-indicators button {
    width: 12px;
    height: 12px;
    background: transparent;
    padding: 0;
    border: 3px solid var(--white);
    border-radius: 50%;
    margin: 0;
    box-sizing: border-box;
    opacity: 1;
}
.hero-slider-indicator.carousel-indicators button.active {
    border-color: var(--primary);
}

/* Three Box Section Style */
.three-box-section {
    background-color: var(--white);
    padding: 120px 0;
}
.three-box {
    display: flex;
    gap: 1px;
    margin-bottom: 120px;
    box-shadow: 0 0 16px rgba(139, 139, 139, 0.2);
    background-color: #ededed;
}
.single-box {
    flex: 1;
    min-height: 100%;
    background-color: var(--white);
    padding: 30px;
}
.box-img-title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
}
.box-img {
    flex: 1 0 90px;
    min-height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.three-box-content .tertiary-divider {
    max-width: 112px;
}

/* Teaser Section Style */
.teasers-section {
    padding: 80px 0;
    background-color: var(--medium-bg);
    color: var(--white);
    background-image: url(../img/teser-section-bg.jpg);
    background-size: cover;
    background-position: center;
}
.single-teaser {
    max-width: 500px;
}
.teaser-img {
    height: 52px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}
.teaser-img img {
    max-height: 100%;
    width: auto;
}
.single-teaser .tertiary-divider {
    max-width: 88px;
}
.single-teaser p a {
    text-transform: uppercase;
    color: var(--white);
    font-style: italic;
}

/* Brands ands Others Section Style */
.brands-section {
    padding: 120px 0;
    background-color: var(--white);
}
.brands-content {
    max-width: 520px;
}
.all-brands {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 16px;
    justify-content: space-between;
}
.single-brand {
    max-width: 250px;
}
.spare-parts-section {
    padding: 115px 0;
    background-color: var(--medium-bg);
    color: var(--white);
    background-image: url(../img/parts-section-bg.jpg);
    background-size: 110%;
    background-position: center;
}
.spare-parts-content {
    padding: 64px 0;
    background-image: url(../img/parts-gear.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}
.spare-parts-box {
    max-width: 800px;
    background-color: var(--medium-bg);
    margin-left: auto;
    padding: 36px;
}

/* Footer Style */
.footer-top-section {
    background-color: var(--bg);
    color: var(--white);
    padding: 72px 0 24px;
    font-size: 14px;
}
.footer-logo {
    text-align: center;
    margin-bottom: 48px;
}
.footer-column {
    max-width: 250px;
}
.footer-column h5 {
    font-weight: 500;
    margin-bottom: 24px;
}
ul.social-media-list {
    display: flex;
    align-items: center;
    gap: 16px;
}
ul.social-media-list li a {
    max-width: 26px;
    height: 26px;
    background-color: var(--white);
    border-radius: 50%;
}
:is(.contact-info-list, .footer-links) li:not(li:last-child) {
    margin-bottom: 8px;
}
:is(.contact-info-list, .footer-links) li a {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1.4;
    color: var(--white);
}
ul.contact-info-list li a span {
    flex: 0 0 18px;
    text-align: center;
}
.footer-column .primary-gradient {
    padding: 10px 20px;
    text-transform: inherit;
}
.copyright-section {
    background-color: #000718;
    color: var(--white);
    text-align: center;
    font-size: 12px;
    padding: 12px 0;
}