@media screen and (max-width:991.9px){
    h1 {
        font-size: 48px;
        line-height: 1.17;
    }
    .site-logo {
        width: 110px;
    }
    .mobile-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
        z-index: 99;
    }
    .main-header {
        padding: 12px 0;
    }
    main {
        margin-top: 80px;
    }
    button.hamburger {
        width: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px;
        border: none;
        background: transparent;
        padding: 0;
    }
    button.hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--secondary);
        border-radius: 2px;
        -webkit-transition: all 0.33s;
        transition: all 0.33s;
        position: relative;
        top: 0;
    }
    body.active-menu button.hamburger span {
        background-color: var(--white);
    }
    body.active-menu button.hamburger span:first-child {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 12px
    }
    body.active-menu button.hamburger span:nth-child(2) {
        opacity: 0;
    }
    body.active-menu button.hamburger span:last-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: -12px;
    }
    body.active-menu a.site-logo .primary {
        display: none;
    }
    body.active-menu a.site-logo .white {
        display: inline-block;
    }
    #siteNavigation {
        position: absolute;
        background-color: var(--medium-bg);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
    nav.navmenu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 110px 12px 32px;
        gap: 32px;
        text-align: center;
    }
    nav.navmenu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }
    nav.navmenu ul li a {
        color: var(--white);
    }
    nav.navmenu .tobbar-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .three-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 425px;
        margin: 0 auto 80px;
    }



}
@media screen and (max-width:767.9px){
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 24px;
        line-height: 1.17;
    }
    .hero-slider-section {
        padding-bottom: 48px;
    }
    .hero-slider-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .hero-slider-indicator.carousel-indicators {
        padding-left: 0;
    }
    .hero-slider-left {
        text-align: center;
    }
    .three-box-section, .teasers-section, .brands-section, .spare-parts-section {
        padding: 60px 0;
    }
    .single-box {
        padding: 24px;
    }
    .box-img {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 80px;
                flex: 1 0 80px;
        min-height: 80px;
    }
    .spare-parts-content {
        padding: 0;
        background: none;
    }



}
@media screen and (max-width:575.9px){
    h1 {
        font-size: 42px;
    }
    .single-brand {
        max-width: 100%;
    }
    .spare-parts-box {
        padding: 24px;
    }
    .footer-logo {
        text-align: left;
    }


}