@media screen and (max-width:991px){
    .site-logo {
        width: 110px;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 99;
    }
    button.hamburger {
        width: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: none;
        background: transparent;
        padding: 0;
    }
    button.hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--secondary);
        border-radius: 2px;
        transition: all 0.33s;
        position: relative;
        top: 0;
    }
    body.active-menu button.hamburger span {
        background-color: var(--white);
    }
    body.active-menu button.hamburger span:first-child {
        transform: rotate(-45deg);
        top: 12px
    }
    body.active-menu button.hamburger span:nth-child(2) {
        opacity: 0;
    }
    body.active-menu button.hamburger span:last-child {
        transform: rotate(45deg);
        top: -12px;
    }
    #siteNavigation {
        position: absolute;
        background-color: var(--medium-bg);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
    nav.navmenu {
        flex-direction: column;
        padding: 110px 12px 32px;
        gap: 32px;
        text-align: center;
    }
    nav.navmenu ul {
        flex-direction: column;
        gap: 20px;
    }
    nav.navmenu ul li a {
        color: var(--white);
    }
    nav.navmenu .tobbar-content {
        flex-direction: column;
    }



}